header.header
    .container
        .flex-center-between
            button.burger(type="button")
                span.burger-line.burger-top
                span.burger-line.burger-center
                span.burger-line.burger-bottom
            a.logo(href="#") 
                img.logo-icon(src="images/logo-icon.svg", alt="logo-icon")
                img.logo-img(src="images/logo.svg", alt="logo")
            nav.header-nav
                ul.menu 
                    li.menu-item 
                        .menu-link.active
                            |ABOUT US 
                            img.arrow-down(src="images/angle-down-solid.svg", alt="arrow")
                        ul.dropdown 
                            li
                    li.menu-item 
                        .menu-link
                            |ATTORNEYS
                            img.arrow-down(src="images/angle-down-solid.svg", alt="arrow")
                        ul.dropdown 
                            li
                    li.menu-item 
                        .menu-link
                            |PRACTICE AREAS 
                            img.arrow-down(src="images/angle-down-solid.svg", alt="arrow")
                        ul.dropdown 
                            li
                    li.menu-item 
                        .menu-link
                            |ARTICLES AND
                            img.arrow-down(src="images/angle-down-solid.svg", alt="arrow")
                        ul.dropdown 
                            li
                    li.menu-item 
                        .menu-link
                            |REVIEWS 
                            img.arrow-down(src="images/angle-down-solid.svg", alt="arrow")
                        ul.dropdown 
                            li
                    li.menu-item 
                        a.menu-link(href="#")
                            |CONTACT US
                        ul.dropdown 
                            li
            .flex-align-center
                a.search(href="#")
                    img.search-icon(src="images/search.svg", alt="search")  
                a.btn(href="#") INTAKE FORM

            